body {
    background-image: url("https://media.giphy.com/media/12zgyJya7QwQKI/giphy.gif");
    background-size: cover;
 
 
 
    height: 80vh;
    padding:0;
    margin:0;
  }

  body{
     background-image: 
  }